Databases
---
It can b treated as `tables`; itcan release the power for suitable statemets, SQL for instance, packages, pandas for instance, and Database, `duckdb` for instance added.

In [1]:
import pandas as db

In [3]:
# histoical list of layouts in Janaury, 2025
# 1. https://www.visualcapitalist.com/all-the-major-tech-layoffs-in-2024-so-far/
# 2.  https://www.visualcapitalist.com/all-the-major-tech-layoffs-in-2024-so-far
# manulapated by chapgpt, blank(s) replced by ','


df=pd.read_csv("data/2004JanLayoff.txt",skiprows=1)
df.tail(2)

      Date Company  JobsCut Percent_of_Company_Employees   Industry
40  Jan 23    Brex      282                          20%    Finance
41  Jan 23   Vroom      800                          80%  Transport

In [8]:
# total 42 but 13 shorts in Percent_of_Company_Employees feature
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          42 non-null     object
 1   Company                       42 non-null     object
 2   JobsCut                       42 non-null     int64
 3   Percent_of_Company_Employees  29 non-null     object
 4   Industry                      42 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.8+ KB

In [23]:
# only `'JobsCut' is in integer format (numeric type)
df.describe()

           JobsCut
count    42.000000
mean    286.595238
std     426.206869
min      10.000000
25%      60.000000
50%      96.500000
75%     300.000000
max    1800.000000

In [15]:
df.nunique()

Date                            16
Company                         42
JobsCut                         34
Percent_of_Company_Employees    19
Industry                        15
dtype: int64

In [20]:
df['Industry'].value_counts()

Industry
Consumer      9
Healthcare    6
Retail        6
Other         3
Media         3
Energy        2
Logistics     2
Transport     2
Data          2
Finance       2
Security      1
Travel        1
Hardware      1
Marketing     1
Food          1
Name: count, dtype: int64

Basics of pandas
---
1. Remove Cows: ` df.dropna(replac=True)`
2. Selection: `df.select_dtypes(include=['int', 'float']).columns
3. Filter Rows with Conditions:
   ```
   > df[(condition 1) & (condition 2]
   ```
4. Convert String Column to DateTime:
   ```
   > pd.to_datetime(df['Date'], format='%Y-%m-%d')
   ```
5. Calculate Row-wise Sum: `df['Total'] = df.iloc[:, 2].sum(axis=1)`
6. Merge DataFrames on a Specific Column:
   ```
   > merged_df = pd.merge(df1, other_df2, on='feature', how='left')
   ```
7. Apply a fynction:
   ```
   > df['Date']=df['Date'].apply(lambda x: convert(x))

   ```
8. Create Dummy Variables:
   ```
   > df_dummies = pd.get_dummies(df['Department'], prefix='Department')
   ```
9. Group by and Aggregate with Multiple Functions:
   ```
   > grouped_df = df.groupby('Industry').agg({'JobsCut': ['sum','sum']})
   ```
10. Reshape DataFrame with Melt:
   ```

In [27]:
#2 
list(df.select_dtypes(include=['int', 'float']).columns)

['JobsCut']

In [34]:
# 3 
df[df['JobsCut']>=1000]

      Date   Company  JobsCut Percent_of_Company_Employees  Industry
11  Jan 08  Flipkart     1100                           5%    Retail
12  Jan 08     Unity     1800                          25%     Other
22  Jan 10    Google     1000                         0.5%  Consumer
36  Jan 19   Wayfair     1650                          13%    Retail

In [38]:
#pd.to_datetime(df['Date'], format='2024-%m-%d')
df['Date'][:][:2]

0    Jan 02
1    Jan 02
Name: Date, dtype: object

In [45]:
# 7
def convert(d):
   return '2024-01-'+i[-2:]
df['Date']=df['Date'].apply(lambda x: convert(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          42 non-null     object
 1   Company                       42 non-null     object
 2   JobsCut                       42 non-null     int64
 3   Percent_of_Company_Employees  29 non-null     object
 4   Industry                      42 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.8+ KB

In [50]:
df['Date']=pd.to_datetime(df['Date'])
df.dtypes

Date                            datetime64[ns]
Company                                 object
JobsCut                                  int64
Percent_of_Company_Employees            object
Industry                                object
dtype: object

In [81]:
# 9 
grouped_df = df.groupby('Industry').agg({'JobsCut': ['sum']})
print(grouped_df)

           JobsCut
               sum
Industry
Consumer      3350
Data           360
Energy        1054
Finance        367
Food            60
Hardware        10
Healthcare     400
Logistics      139
Marketing      125
Media          224
Other         1893
Retail        2947
Security        60
Transport      848
Travel         200

In [68]:
#10 
melted_df = pd.melt(df, id_vars=['Company'], value_vars=['JobsCut'], var_name='Com', value_name='Value')
melted_df

            Company      Com  Value
0     The Messenger  JobsCut     24
1         FrontDesk  JobsCut    200
2     Orca Security  JobsCut     60
3      Lazada Group  JobsCut    100
4             Trigo  JobsCut     30
5        Cue Health  JobsCut     94
6   NanoString Tech  JobsCut     50
7          BenchSci  JobsCut     70
8             Pitch  JobsCut     80
9             Flexe  JobsCut     99
10    NuScale Power  JobsCut    154
11         Flipkart  JobsCut   1100
12            Unity  JobsCut   1800
13           Humane  JobsCut     10
14  Rent the Runway  JobsCut     37
15     Uber Freight  JobsCut     40
16            Nevro  JobsCut     63
17           Branch  JobsCut     85
18           Twitch  JobsCut    500
19        Instagram  JobsCut     60
20     BeamBenefits  JobsCut     74
21              IAC  JobsCut    330
22           Google  JobsCut   1000
23          Sisense  JobsCut     60
24          Audible  JobsCut    100
25           Inmobi  JobsCut    125
26          Discord  JobsCut    170
27         Playtika  JobsCut    300
28      New Work SE  JobsCut    400
29          GrabCAD  JobsCut     13
30            Veeam  JobsCut    300
31       First Mode  JobsCut     48
32       SonderMind  JobsCut     49
33          Sirplus  JobsCut     60
34          YouTube  JobsCut    100
35           Amazon  JobsCut     30
36          Wayfair  JobsCut   1650
37        SolarEdge  JobsCut    900
38       Riot Games  JobsCut    530
39           TikTok  JobsCut     60
40             Brex  JobsCut    282
41            Vroom  JobsCut    800

In [75]:
#10 
melted_df = pd.melt(df, id_vars=['Company'], value_vars=['JobsCut'],  value_name='Value')
melted_df

            Company variable  Value
0     The Messenger  JobsCut     24
1         FrontDesk  JobsCut    200
2     Orca Security  JobsCut     60
3      Lazada Group  JobsCut    100
4             Trigo  JobsCut     30
5        Cue Health  JobsCut     94
6   NanoString Tech  JobsCut     50
7          BenchSci  JobsCut     70
8             Pitch  JobsCut     80
9             Flexe  JobsCut     99
10    NuScale Power  JobsCut    154
11         Flipkart  JobsCut   1100
12            Unity  JobsCut   1800
13           Humane  JobsCut     10
14  Rent the Runway  JobsCut     37
15     Uber Freight  JobsCut     40
16            Nevro  JobsCut     63
17           Branch  JobsCut     85
18           Twitch  JobsCut    500
19        Instagram  JobsCut     60
20     BeamBenefits  JobsCut     74
21              IAC  JobsCut    330
22           Google  JobsCut   1000
23          Sisense  JobsCut     60
24          Audible  JobsCut    100
25           Inmobi  JobsCut    125
26          Discord  JobsCut    170
27         Playtika  JobsCut    300
28      New Work SE  JobsCut    400
29          GrabCAD  JobsCut     13
30            Veeam  JobsCut    300
31       First Mode  JobsCut     48
32       SonderMind  JobsCut     49
33          Sirplus  JobsCut     60
34          YouTube  JobsCut    100
35           Amazon  JobsCut     30
36          Wayfair  JobsCut   1650
37        SolarEdge  JobsCut    900
38       Riot Games  JobsCut    530
39           TikTok  JobsCut     60
40             Brex  JobsCut    282
41            Vroom  JobsCut    800